.d {
    height: 100px;
/ / border : 1 px solid red;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html, body {
    position: relative;
    margin-top: 62px;
}

header {
    height: 62px;
    background: #ffffff;

}

.b-logo__container {
    line-height: 62px;
    position: relative;
    z-index: 10000000000;
/ / padding : 20 px;
}

.b-header__logo {
    display: inline-block;
    padding: 0;
    margin: 0;
    float: left;
}

.b-header__logo--item {
    margin-left: 20px;
    display: block;
    height: 35px;

}

.b-header__control-btn {
    display: inline-block;
    float: right;
}

.b-header__btn--item {
    display: inline-block;
    line-height: 35px;

}

.b-header__btn {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #7461FF;
    color: #ffffff;
    text-align: center;
}

.b-header__search {
    margin-left: 30px;
    line-height: 62px;
/ / padding : 20 px;
    float: left;
}

.b-search__icon, .b-search__icon:focus {
    display: inline-block;
    color: #979797;
    font-size: 11px;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
}

.b-search__input {
    display: inline-block;
    color: #979797;
    font-size: 11px;
    line-height: normal;
}

.b-search__input--item {
    width: 186px;
    height: 20px;
    padding-left: 20px;
    border: none;
}

.b-search__input--item:focus, .b-search__input--item {
    border: none;
    outline: 0;
}

.b-header__notify {
    line-height: 62px;
/ / padding : 20 px 20 px 20 px 0;
    float: left;
}

.b-notify__item {
    margin-right: 38px;
    float: left;
}

.b-notify__item:last-child {
    margin-right: 0;
}

.b-notify__messages, .b-notify__rings, .b-nitify__tasks {
    position: relative;
    display: inline-block;
    padding: 0;
    line-height: 0;
    color: #7f7f7f;
    font-size: 17px;

}

.b-notify__count {
    position: absolute;
    top: -75%;
    right: -80%;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;

}

.b-notify__count--messages {
    background: #0BC82F;
}

.b-notify__count--rings {
    background: #FF4949;
}

.b-notify__count--tasks {
    background: #725FFF;
}

.b-notify__count--text {
    color: #ffffff;
    font-size: 11px;
}

.b-notify__popup-list {
    position: absolute;
    top: 50px;
    width: 260px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
}

.b-popup_carrot {
    position: absolute;
    right: 45px;
    top: -8px;
    width: 15px;
    height: 15px;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.b-popup {
    margin: 0;
    padding: 0;
}

.b-popup__item {
    border-bottom: 1px solid #e0e0e0;
    min-height: 71px;
    padding: 15px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 100%;
}

.b-popup__header {
    min-height: 1px;
    text-align: center;
    width: 100%;

}

.b-popup__content {
    margin: 0;
    padding: 0;
    width: 100%;
}

.b-popup__img {
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    float: left;

    width: 25%;
}

.b-popup__info {
    display: inline-block;
    float: left;
    width: 75%;
}

.b-popup__header-text {
    color: #777777;
    font-weight: bold;
    margin-bottom: 3px;
    width: 100%;
    font-size: 12px;
    line-height: 17px;
}

.b-popup__title {
    display: inline-block;
    color: #222222;
    font-weight: bold;
    font-size: 12px;
    margin: 2px 0;
    width: 100%;
}

.b-popup__message {
    display: inline-block;
    color: #333333;
    padding: 3px 0;
    font-size: 12px;
    line-height: 17px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.b-popup__timeago {
    display: inline-block;
    color: #777777;

    font-size: 11px;
    margin: 5px 0;
    width: 100%;
}

.b-header__profile {
    line-height: 62px;
    margin-right: 10px;
}

.b-profile__container {
    float: right;
}

.b-login__item {
    width: 40px;
    height: 40px;
}

.b-profile__img {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.b-profile__profile {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.b-profile__item {
    color: #7f7f7f;
    font-size: 15px;
}

.b-profile__settings {
    display: inline-block;
    padding: 0;
    margin: 0;

}

.b-settings__item {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #7f7f7f;
    color: #ffffff;
    font-size: 25px;

}

.fixed-left {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 1000000;

    height: 100%;
}

.b-aside-container {
    margin-top: 62px;
    height: 100%;
}

.b-aside__profile {
    background: #13171E;
    height: 100%;
}

.b-nav__profile {
    background: #080a0e;
    text-align: center;
    line-height: 143px;
}

.b-nav__img {
    display: inline-block;
    width: 70px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #323843;
}

.b-nav__content {
    display: inline-block;
    height: 100%;
    padding-left: 6px;
    vertical-align: middle;
    text-align: left;
}

.b-nav__items {
    line-height: normal;
}

.b-nav__message {
    display: block;
    color: #b2b9cb;
    font-size: 10px;
    font-weight: bold;

}

.b-nav__name {
    display: block;
    color: #fff;
    font-size: 15px;
    padding: 8px 0;
}

.b-nav__status {
    display: block;
}

.b-status__icon {
    display: inline-block;
    background: #07bf29;
    border-radius: 50%;
    height: 6px;
    width: 6px;
}

.b-status__name {
    display: inline-block;
    color: #b2b9cb;
    font-size: 10px;
}

.b-nav__buttons {
    padding: 8px 0;
}

.b-button__item {
    display: inline-block;
    margin-right: -2px;
    height: 29px;
    width: 29px;
    text-align: center;
    line-height: 29px;
    background: #323843;
    color: #b2b9cb;
}

.b-button__item:hover {
    background: #B2B9CB;
    color: #303133;
}

.b-aside__menu {
/ / border : 1 px solid red;
    padding: 10px;
    margin: 0;
    max-width: 300px;
}

.b-menu__item {
    width: 100%;
    height: 100%;
/ / border : 1 px solid green;
    position: relative;
}

.b-item__link {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 13px;
    padding: 0 30px;
    text-decoration: none !important;
    background: #13171E;
    color: #8B91A0;
}

.b-item__link:hover, .b-item__link--active {
    color: #ffffff;
    background: #7664FF;
}

.b-menu__item--nested {
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 100;
/ / border : 1 px solid yellow;
}

.b-menu__nested_item {

}

.b-item__nested--link {
    width: 150px;
}

.b-item__nested--link:visited {
    color: #8B91A0;
}

.b-item__nested--link:visited:hover {
    color: #ffffff;
}

.b-content {
    background: #E6E9EE;
}

.b-main__source {
    background: #E6E9EE;
    display: block;
/ / display : inline-block;
}

.b-mail-directive {
    display: block;
/ / width : 100 %;
}

.b-content__main {
    margin-left: 30px;
}

/*[class^= "col-"]:first-child {
    padding-left: 0 !important;
    border: 2px solid blue;
}*/

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.nopadding-left {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.b-content__dir {
    line-height: 33px;
    background: #FAFAFA !important;
    color: #777777 !important;

}

.b-dir__home, .b-dir__home:hover, .b-dir__home:focus {
    text-decoration: none;
    color: #777777 !important;
    cursor: pointer;
    margin-left: 30px;
}

.b-dir__text-space {
    margin-left: 10px;
}

.b-dir__current {
    margin-left: 10px;
}

.b-main__header {
    line-height: 100px;
}

.b-header {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}

.b-header__main {
    padding: 0;
    margin: 0;
    display: block;
    color: #333333;
    font-size: 27px;
    font-weight: bold;
}

.b-header__sub {
    display: block;
    color: #777777;
    font-size: 12px;
}

.b-mail__nav {
    background: #ffffff;
    margin: 38px 0 0 0;
}

.b-mail__logo-container {
    text-align: center;

}

.b-mail__logo {
    display: inline-block;
    margin: 38px 0 0 0;
    width: 106px;
    height: 106px;
    border-radius: 50%;
    border: 1px solid #6E6E6E;
    padding: 2px;
}

.b-mail__name-container {
    text-align: center;
    margin: 15px 0 10px 0;
}

.b-mail__name {
    color: #333333;
    font-size: 17px;
    font-weight: bold;

}

.b-mail__app-container {
    text-align: center;
}

.b-mail__app {
    color: #333333;
    font-size: 14px;
    text-align: center;
}

.b-mail__social {
    margin: 0;
    padding: 22px 0 0 0;
    list-style: none;
    text-align: center;
}

.b-social__item {
    display: inline-block;
    margin-right: 7px;
}

.b-social__item--twitter, .b-social__item--googleplus, .b-social__item--facebook {
    display: block;
    width: 31px;
    height: 31px;
    font-size: 16px;
    line-height: 31px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.b-social__item--twitter:hover, .b-social__item--googleplus:hover, .b-social__item--facebook:hover {
    color: #ffffff;
}

.b-social__item--twitter {
    background: #439ed6;
}

.b-social__item--googleplus {
    background: #dd4b39;
}

.b-social__item--facebook {
    background: #3b5998;
}

.b-mail__button-container {
    text-align: center;
    margin-top: 37px;
}

.b-mail__button {
    display: inline-block;
    text-align: center;
    border: 2px solid #555555;
    color: #555555;
    font-size: 20px;
    padding: 10px 30px;
    text-decoration: none !important;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.b-mail__button:hover {
    color: #aeaeae;
    cursor: pointer;
}

.b-mail__menu {
    margin: 20px 0 0 0;
    padding: 0;

}

.b-item__container {
    position: relative;
    height: 100%;
}

.b-item__count-container {
    position: absolute;
    height: 40px;
    right: 0;
    top: 50%;
    transform: translate(-50%, -25%);
}

.b-count__text {
    display: inline-block;
    line-height: 12px;
    font-size: 12px;
    padding: 3px 10px;
    background: -moz-linear-gradient(top, #0fce33 0%, #07bf29 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #07bf29), color-stop(100%, #f9f9f9));
    background: -webkit-linear-gradient(top, #0fce33 0%, #07bf29 100%);
    background: -o-linear-gradient(top, #0fce33 0%, #07bf29 100%);
    background: -ms-linear-gradient(top, #0fce33 0%, #07bf29 100%);
    background: linear-gradient(to bottom, #0fce33 0%, #07bf29 100%);
    color: #fff;
    text-decoration: none !important;
}

.b-count__text:hover {
    color: #fff;
    text-decoration: none !important;
}

.b-item__title-container {
    line-height: 40px;
    background: #FAFAFA;
}

.b-item__title-container:hover {
    background: #5A5A5A;
}

.b-title__text {
    position: relative;
    display: inline-block;
    border-bottom: 1px solid #ededed;
    text-decoration: none !important;

    font-size: 14px;
    color: #555555;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    padding-left: 30px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

}

.b-title__text:hover {
    transform: translate(10px, 0);
    color: #ffffff;
    border-bottom: 1px solid transparent;
}

.b-compose-container, .b-inbox-container {
    margin: 38px 0 0 0;
}

.b-compose__title, .b-inbox__title {
    display: inline-block;
    color: #333333;
    font-size: 30px;
    margin: 0 0 15px;
}

.b-compose__name, .b-compose__subject, .b-compose__bcc {
    width: 100%;
    margin: 13px 0;
    height: 40px;
    border: none;
    padding: 0 20px;
}

.b-compose__name:focus, .b-compose__subject:focus, .b-compose__bcc:focus, .b-compose__textarea:focus {
    border: none;
    outline: 0;
}

.b-compose__textarea-container {
    padding: 10px;
    margin: 13px 0;
    background: #fafafa;
}

.b-compose__textarea {
    background: #ffffff;
    border: none;
    width: 100%;
    padding: 10px;
}

.b-compose__btn-container {
    background: #fafafa;
    padding: 10px 0;
}

.b-compose__btn {
    font-size: 12px;
    color: #ffffff;
    padding: 6px 15px;
    background: #715eff;
    font-weight: bold;
}

.b-list-style {
    padding: 0;
    margin: 0;
}

.b-search__item {
    list-style: none;
/ / display : inline-block;
    float: left;
    color: #757575;
    font-size: 14px;
}

.b-group__item {
    display: inline-block;
    margin-right: -5px;
/ / border : 1 px solid #e8ecec;
}

.b-group__item:last-child {
    margin: 0;
}

.b-search__option {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.b-mail__checkall {
    font-size: 13px;
    font-weight: normal;
    margin: 0 25px 0 0;
    padding: 6px 15px;
    color: #757575;
    background-color: #fff;
}

.b-search__item-title {
    margin: 0;
    cursor: pointer;
}

.b-search__item-check {
    margin: 0 !important;
    display: inline-block;
    line-height: 13px;
    vertical-align: middle;

}

.b-mail__btn-item {
    padding: 5px 10px;
    border: 1px solid #e8ecec;
    color: #757575;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
}

.b-mail__btn-item:hover, .b-mail__btn-item--active {
    background-color: #e6e6e6;
}

.b-mail__important {
    margin-left: 20px;
}

.b-mail__sourse-item {

}

.b-mail__important-item {
}

.b-item-star--active {
    color: #e0d341;
}

.b-mail__page-title {
    margin: 0 15px 0 0;
    padding: 5px 10px;
    color: #757575;
    font-size: 14px;
}

.b-mail__pages {
    color: #666666;
    font-weight: bold;
    font-size: 12px;
}

.right-item {
    float: right !important;
}

.b-list__search {
    background: #fafafa;
    padding: 7px;
    margin-top: 13px;
}

.b-mail-list__container {
    padding-top: 20px;
}

.b-mail-list {
    padding: 0 20px;
    width: 100%;
    background-color: #ffffff;
}

.b-mail-list:hover {
    background-color: #FAFAFA;
}

.b-item--star, .b-item--clip {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.b-item__sender {
    font-weight: bold !important;
}

.b-item__sender {
    width: 130px;
}

.b-message-icon {
    display: inline-block;
    font-size: 11px;
    line-height: 11px;
    padding: 3px 5px;
    color: #fff;
}

.b-message-icon__spam {
    background: -moz-linear-gradient(top, #8a7aff 0%, #715eff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #715eff), color-stop(100%, #f9f9f9));
    background: -webkit-linear-gradient(top, #8a7aff 0%, #715eff 100%);
    background: -o-linear-gradient(top, #8a7aff 0%, #715eff 100%);
    background: -ms-linear-gradient(top, #8a7aff 0%, #715eff 100%);
    background: linear-gradient(to bottom, #8a7aff 0%, #715eff 100%);
}

.b-message-icon__unread {
    background: -moz-linear-gradient(top, #0fce33 0%, #07bf29 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #07bf29), color-stop(100%, #f9f9f9));
    background: -webkit-linear-gradient(top, #0fce33 0%, #07bf29 100%);
    background: -o-linear-gradient(top, #0fce33 0%, #07bf29 100%);
    background: -ms-linear-gradient(top, #0fce33 0%, #07bf29 100%);
    background: linear-gradient(to bottom, #0fce33 0%, #07bf29 100%);
}

.b-message-icon__trach {
    background: -moz-linear-gradient(top, #ff5959 0%, #ff3b3b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3b3b), color-stop(100%, #f9f9f9));
    background: -webkit-linear-gradient(top, #ff5959 0%, #ff3b3b 100%);
    background: -o-linear-gradient(top, #ff5959 0%, #ff3b3b 100%);
    background: -ms-linear-gradient(top, #ff5959 0%, #ff3b3b 100%);
    background: linear-gradient(to bottom, #ff5959 0%, #ff3b3b 100%);
}

.b-message-icon__flagged {
    background: -moz-linear-gradient(top, #404040 0%, #545454 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #545454), color-stop(100%, #f9f9f9));
    background: -webkit-linear-gradient(top, #404040 0%, #545454 100%);
    background: -o-linear-gradient(top, #404040 0%, #545454 100%);
    background: -ms-linear-gradient(top, #404040 0%, #545454 100%);
    background: linear-gradient(to bottom, #404040 0%, #545454 100%);
}

.b-item__text {
    width: 250px;
}

.b-item--wrap {
/ / display : inline-block;

/ / margin : auto 0;
/ / height : 20 px;
/ / line-height : 0;

    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
}

.b-list__item-container {
    list-style: none;
    float: left;
    padding: 0 10px;
    position: relative;
    height: 40px;
    line-height: 40px;

}

.b-list__item-container:last-child {
    padding: 0;
}

.b-list__item {
    display: inline-block;
/ / line-height : 20 px;
    height: 20px;
    vertical-align: middle;
    font-size: 14px;
    color: #333333 !important;
    font-weight: normal;
    margin: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.b-list__item--icon {
    margin: 0;
}

.b-item__time {
    color: #999999;
    font-size: 11px;
}

{
    outline: 1px solid red
}