<div class="b-inbox-container">
    <div class="b-inbox">
        <div class="b-inbox__header">
            <span class="b-inbox__title">Inbox</span>
        </div>

        <form class="b-inbox__head">
            <div class="row">
                <div class="col-md-12">
                    <div class="b-mail-list__nav-container">
                        <div class="b-mail-list__nav">
                            <ul onmousedown="return false" onselectstart="return false"
                                class="b-list__search b-list-style clearfix">
                                <li class="b-search__item  b-mail__checkall">
                                    <label class="b-search__item-title"><input class="b-search__item-check"
                                                                               name="mail-list-check" type="checkbox"
                                                                               value="all_list"
                                                                               ng-model="checkedAll"
                                                                               ng-click="toggleAll()"

                                            > Check
                                        All</label>
                                </li>
                                <li class="b-search__item">
                                    <ul class="b-search__item--group b-list-style b-mail__sourse">
                                        <li class="b-group__item  b-mail__btn-item b-mail__sourse-item">
                                            <input class="b-search__item-archive b-search__option" name="mail-option"
                                                   type="radio">
                                            <i class="fa fa-archive "></i>
                                        </li>
                                        <li class="b-group__item  b-mail__btn-item b-mail__sourse-item">
                                            <input class="b-search__item-folder b-search__option" name="mail-option"
                                                   type="radio">
                                            <i class="fa fa-folder-o"></i>
                                        </li>
                                        <li ng-click="removeItems()"
                                            class="b-group__item b-mail__btn-item b-mail__sourse-item">
                                            <input class="b-search__item-trach b-search__option" name="mail-option"
                                                   type="radio">
                                            <i class="fa fa-trash-o"></i>
                                        </li>
                                    </ul>
                                </li>
                                <li class="b-search__item">
                                    <ul class="b-search__item--group b-list-style b-mail__important">
                                        <li class="b-group__item  b-mail__btn-item b-mail__important-item"
                                            ng-model="important"
                                            ng-click="important=!important"
                                            ng-class="{'b-mail__btn-item--active' : important}"
                                                >
                                            <input class="b-search__item-star b-search__option" name="mail-option"
                                                   type="radio"
                                                    >
                                            <i class="fa fa-star-o"></i>
                                        </li>
                                        <li class="b-group__item b-mail__btn-item b-mail__flag-item"
                                            ng-model="flag"
                                            ng-click="flag=!flag"
                                            ng-class="{'b-mail__btn-item--active' : flag}"
                                                >
                                            <input class="b-search__item-flag b-search__option" name="mail-option"
                                                   type="radio">
                                            <i class="fa fa-flag-o"></i>
                                        </li>

                                    </ul>
                                </li>
                                <li class="b-search__item right-item">
                                    <ul class="b-search__item--group b-list-style b-mail__pagination ">
                                        <li class="b-group__item  b-mail__page-title">
                                            <span class="b-mail__page-current b-mail__pages">{{currentList}}</span>
                                            <span class="b-mail__page-of b-mail__pages"> of </span>
                                            <span class="b-mail__page-all b-mail__pages">{{countItems}}</span>
                                        </li>
                                        <li class="b-group__item b-mail__page__arrows">
                                            <ul class="b-search__item--group b-list-style">
                                                <li ng-click="setPrevList()"
                                                    class="b-arrow__left b-mail__btn-item b-group__item">
                                                    <i class="fa fa-long-arrow-left"></i>
                                                </li>
                                                <li ng-click="setNextList()"
                                                    class="b-arrow__right b-mail__btn-item b-group__item">
                                                    <i class="fa fa-long-arrow-right"></i>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="b-inbox__content">
            <div class="row">
                <div class="col-md-12">
                    <div class="b-mail-list__container">
                        <ul class="b-mail-list b-list-style clearfix"

                            ng-repeat="item in list|  mailImportantFilter:  important:flag"> <!--orderBy:'-time' |-->
                            <li class=" b-list__item-container">
                                <input class="b-list__item b-item--cheched"
                                       name="item__checked"
                                       type="checkbox"

                                       ng-model1="getItem(item)"
                                       ng-checked="getItem(item)"
                                       ng-click="toggle(item, checkedAll,$index)"

                                        >
                            </li>
                            <!-- ng-model="checkedAll"-->

                            <li class=" b-list__item-container">
                                <label class="b-list__item--icon"><input class="b-list__item b-item--star"
                                                                         name="item__star" type="checkbox"><i
                                        ng-model="item.important"
                                        ng-click="item.important=!item.important"
                                        ng-class="{'b-item-star--active' : item.important}"
                                        class="fa fa-star-o"></i></label>
                            </li>

                            <li class=" b-list__item-container ">
                                <div class=" b-item--wrap">
                                    <span class="b-list__item b-item__sender">{{f.getShortName(item.name)}}</span>
                                </div>
                            </li>

                            <li class=" b-list__item-container ">
                                <div class="b-item--wrap ">

                                    <message-type-directive></message-type-directive>
                                    <span class="b-list__item b-item__text">{{f.getShortMessage(item.message)}}</span>
                                </div>
                            </li>

                            <li class=" b-list__item-container">
                                <label class="b-list__item--icon"><input class="b-list__item b-item--clip"
                                                                         name="item__clip" type="checkbox"><i
                                        ng-if="item.attached" class="fa fa-paperclip"></i></label>
                            </li>

                            <li class=" b-list__item-container right-item">
                                <div class="b-item--wrap">
                                    <span class="b-list__item b-item__time">{{f.getTimeAgo(item.time)}}</span></div>
                            </li>


                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  </div>
</div>-->